@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .gradient-text {
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    background-image: linear-gradient(
      135deg,
      theme('colors.violet.400') 1.93%,
      theme('colors.cyan.400') 48.09%,
      theme('colors.emerald.400') 79.82%
    );
  }

  .custom-scrollbar {
    @apply scrollbar scrollbar-thumb-gray-900 scrollbar-track-gray-100
  }
}